header {
	background-color:forestgreen;
}
div.controls {
	float:left;
	width:100%;
	background-color:lightblue;
}
div.players {
	float:left;
	width:100%;
	background-color:lightblue;
}
div.board {
	background-color:grey;
}
table.board {
	margin-left:10px;
}
div.clearfix {
	clear:both;
}
div h4 {
	text-transform:uppercase;
}
h4::first-letter {
	font-weight:bold;
	font-size:1.2em;
}