div.controls {
	float:left;
	height:15%;
	margin-top:20px;
	margin-left:25px;
}
div.players {
	float:left;
	height:15%;
	margin-top:20px;
	margin-left:25px;
}
div.board {
	margin-top:25px;
	margin-left:25px;
}
div.clearfix {
	clear: both;
}