div.title {
	background-color:forestgreen;
}
div.controls {
	float:left;
	width:100%;
	background-color:lightblue;
}
div.players {
	float:left;
	width:100%;
	background-color:lightyellow;
}
div.board {
	background-color:grey;
}
div.clearfix {
	clear:both;
}
div h4 {
	text-transform:uppercase;
}
h4::first-letter {
	font-weight:bold;
	font-size:1.2em;
}
a {
	font-size:1.3em;
	color:yellow;
}
#p1,#p2 {
	height:40px;
	width:40px;
}